@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    margin-top: v.$separacion;
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        color: v.$blanco;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
    }

    .boton-eliminar{
        margin-top: 1.5rem;

        @include m.tablet{
            margin-top: 0;
        }
    }
}
